body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-content {
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  width: 100%;
  padding: 20px;
  height: 90vh;
}

.main-content h1 {
  text-align: center;
  padding: auto;
  padding-bottom: 20px;
}

.todo-manage {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 20px;
  height: 100%;
  align-items: center;
  border-top: 5px solid black;
}

.create-section {
  display: flex;
  height: 100%;
  width: 49%;
  border-right: 3px solid black;
  align-items: center;
}

.create-todo {
  border: 2px solid darkblue;
  padding: 50px;
  width: 80%;
  margin: auto;
}

.create-todo h1 {
  text-align: center;
}

.list-todo {
  width: 49%;
  height: 100%;
  align-items: start;
  overflow-y: scroll;
}

.todo-nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  height: 50px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.todo-nav .pending-tab {
  width: 50%;
}

.todo-nav .pending-tab button {
  width: 100%;
  height: 50px;
  background-color: white;
  color: black;
  border: 2px solid black;
}

.todo-nav .finished-tab {
  width: 50%;
}

.todo-nav .finished-tab button {
  width: 100%;
  height: 50px;
  background-color: white;
  color: black;
  border: 2px solid black;
}

.todo-nav .pending-tab button:hover {
  background-color: darkblue;
  color: white;
}

.todo-nav .finished-tab button:hover {
  background-color: darkblue;
  color: white;
}

.todo-nav .finished-tab button.xyz {
  background-color: darkblue;
  color: white;
}

.todo-nav .pending-tab button.xyz {
  background-color: darkblue;
  color: white;
}

.pending-todo {
  width: 100%;
  padding: 20px;
}

.completed-todo {
  width: 100%;
  padding: 20px;
  height: 90%;
}

.list-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* overflow-x: scroll; */
}

.list-group-item {
  border-bottom: 0.5px solid black;
  margin-bottom: 10px;
}

.list-item-description {
  width: 90%;
}

.list-item-description .list-title {
  height: 40px;
  align-items: center;
  margin: auto;
  font-size: 20px;
}

.list-item-description .list-description {
  align-items: center;
  margin: auto;
  font-size: 15px;
}

.list-item-btn {
  width: 10%;
}

.list-item-btn-delete {
  background-color: red;
  color: white;
  padding: 5px;
}

.alert-msg {
  position: absolute;
  top: -35px;
}
